@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-general: var(--font-regular);
  --font-pop: var(--font-poppins);
  --font-gro: var(--font-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .nav-hover-btn {
    @apply hover:text-black/65 cursor-pointer;
    position: relative;
  }

  .nav-hover-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2196f3;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .nav-hover-btn:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}
